.question-cover-wrapper {
    background-color: rgb(19, 0, 232);
    padding: 32px;
    width: 55vw;
    height: 55vw;
    color: white;
    font-family: HelveticaNowTextBold;
    box-shadow: 4px 4px 0px 0px rgb(0, 0, 0);
    display: flex;
    align-items: center;
}